# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Build Artifacts
build/
dist/
*.spec
*.exe

# Local User Data (CRITICAL: Do not upload these)
credentials.json
token.json
config.json

# Editor
.vscode/
.idea/
